.termos-bg {
  background: var(--cor-11);
  padding: 40px 0px;
}

.termos p {
  text-transform: uppercase;
}

.termos-conteudo {
  margin: 80px 0px;
}

.termos-conteudo h2 {
  margin: 20px 0px;
}

.termos-conteudo p {
  margin-bottom: 15px;
  max-width: 70ch;
}

@media (max-width: 800px) {
  .termos-conteudo {
    margin: 50px 0px;
  }

  .termos-conteudo h3 {
    margin: 20px 0px;
  }
  .termos-conteudo p {
    margin-bottom: 10px;
    max-width: 40ch;
  }
}
